<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
        .req {
            border: 1px solid #575a5c;


        }

        .bottom_nav {
            color: #7a7a7a;
            margin-right: 27px;
            margin-left: 27px;
            font-weight: 700;


        }

        .tagcloud {
            color: #ffffff;
            border: 1px solid #4b5056;
            border-radius: 20px;
            letter-spacing: 0.5px;
            font-weight: 600;
            padding: 0px 11px;
            margin: 16px 6px 0px 0px;
            opacity: 0.7;
            font-size: 14px;
        }

        .row {
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <div class="d-lg-none">
        <div class="container-fluid" style="height: 953px;background-color: #20252b;font-family: lato-r;">
            <div class="row" style="height: 245px;margin: auto;">
                <img width="100px" height="48px" style="/* margin:0% 36%; */margin-top: 31px;"
                    src="images/sdfed-min-1.png" alt="">
                <p style="/* margin-top: 2%; */color: #b1b1b1;font-size: 13px;/* text-align: center; */font-family: lato-r;"
                    class="mb-3 mx-1">With an experience of over 20 successful flourishing years of bringing the best
                    out of students skillet and acumen, we thrive to get forth with the same commitment for you. If
                    you've decided to follow your passion in the years to go, give us a chance to carve your dream!</p>





            </div>

            <div class="row" style="height: 236px;/* text-align: center; */margin: auto;">
                <h5 class="" style="color:#ffffff;  margin-bottom: 5px; margin-left: 17px; text-align: center; letter-spacing: 2px; display: grid;">
                    Popular Courses
                    <hr class="req" style="margin-top: 0%; " width="100%" ;="">
                    
                </h5>



                <div class="row" style="width: 100%;height: 20px;/* margin-top: 31px; */">
                    <div class="col-4" style="  width: 20%; float: left;">
                        <img src="images/test_series-300x185.jpg" width="85px" alt="">
                    </div>
                    <div class="col-8" style="width:70%; float: left; padding: 0%; font-weight: 500;">
                        <a style="display: inline; color: #ffffff;  " href="https://edusquare.co.in/courses/test-series/">Test Series Medical / Non-Medical</a>
                    </div>
                </div>

                <div class="row" style="width: 100%; margin-top: 30px; height: 90px;">
                    <div class="col-4" style="  width: 20%; float: left;">
                        <img src="images/medical_strider_cour_Jptfo-300x185.jpg" width="85px" alt="">
                    </div>
                    <div class="col-8" style="width:70%; float: left; padding: 0%;font-weight: 500;">
                        <a style="display: inline; color: #ffffff;  " href="#">Class XI (Strider)</a>
                    </div>
                </div>

            </div>
            <div class="row" style="height: 218px;display: inline-block;">
                <h5 class=""
                    style="color:#ffffff;text-align: center;margin-left: 17px;margin-bottom: 2px;letter-spacing: 2px;/* display: grid; */margin-bottom: 20px;">
                    Quick Links
                </h5>
                <hr class="req" style="margin-top: 0%;  margin-left: 20px;" width="100%" >
                <div class="menu-footer1-container">
                    <ul id="menu-footer1" class="menu">
                        <li id="menu-item-2787"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2787"><a style="color: #fff;"
                                href="https://edusquare.co.in/north-indias-largest-exam/">ETSE</a></li>
                        <li id="menu-item-2784"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2784"><a style="color: #fff;"
                                href="https://edusquare.co.in/result/">Results</a></li>
                        <li id="menu-item-2785"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2785"><a style="color: #fff;"
                                href="https://edusquare.co.in/jeeadvance-2019/">JEE Advance 2019</a></li>
                        <li id="menu-item-2786"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2786"><a style="color: #fff;"
                                href="https://edusquare.co.in/neet-2019/">NEET 2019</a></li>
                        <li id="menu-item-900"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-900"><a style="color: #fff;"
                                href="#">Terms of Use</a></li>
                        <li id="menu-item-894"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-894"><a style="color: #fff;"
                                href="#">Privacy Policy</a></li>
                        <li id="menu-item-2791"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2791"><a style="color: #fff;"
                                href="https://edusquare.co.in/contact/">Contact Us</a></li>
                    </ul>
                </div>

            </div>
            <div class="row" style="height: 115px;margin: auto;margin-top: 40px;">
                <h5 class="" style="color:#ffffff;margin-bottom: 5px;margin-left: 17px;text-align: center;letter-spacing: 2px;/* display: grid; */">
                    Contact Us
                    <hr class="req" style="margin-top: 9%;" width="100%" ;="">
                    
                </h5>
                <p style="/* margin-top: 2%; */color: #b1b1b1;font-size: 13px;/* text-align: center; */font-family: lato-r;" class="mb-3 mx-1">Your queries are always welcome to us! Join us anytime you want an answer to any of your questions. We are, your all time approachable people.</p>





            </div>

        </div>
    </div>

    

    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>

<body>



</body>