<body>



    <div class="footer">
        <div class="container-fluid" style="height: 350px;  background-color: #20252b;justify-content: center;
        display: flex; ">
            <div class="row" style="padding: 0;/* margin: 0px 0px; */margin: 0;">

                <div class="col-3"
                    style="margin-top: 60px;padding: 0;height: 351px;width: 256px;padding-right: 21px;font-family: lato-r;">
                    <div>
                        <img width="152" height="46"
                            src="images/finallogo1-1-e1583267961597.png"
                          
                            class="vc_single_image-img attachment-full ls-is-cached lazyloaded" alt="">
                    </div>
                    <p style="color: #b1b1b1;font-size: 14px;margin-top: 30px;/* font-family: lato-r; */" class="mb-4">
                        With an experience of over 20 successful flourishing years of bringing the best out of students
                        skillet and acumen, we thrive to get forth with the same commitment for you. If you've decided
                        to follow your passion in the years to go, give us a chance to carve your dream!</p>
                </div>
                <div class="col-3" style="height: 350px;margin-top: 43px;padding: 0px;">
                    <h6 class="mt-4"
                        style="color:#ffffff;text-align: center;margin-bottom: 5px;font-family: lato-r;letter-spacing: 2px;font-size: 20px;">
                        Popular Courses</h6>
                        <hr style="margin-top: 5PX;border-bottom: 3px solid #575a5c !IMPORTANT;">



                    <div class="row" style="width: 100%; height: 50px;  margin-top: 26px;">
                        <div class="col-4" style="  width: 20%; float: left;">
                            <img src="images/test_series-300x185.jpg" alt="" style="
    width: 80px;
    height: 49px;
">
                        </div>
                        <div class="col-8" style="width:80%; float: left; padding: 0%;">
                            <a style="display: inline; color: #ffffff; font-size: 18px; font-weight: 400;font-family: lato-r; "
                            href="https://edusquare.co.in/courses/test-series/">Test Series Medical / Non-Medical </a><br><span
                                style="font-size: 14px;; color: #ffffff; " class="entry-date"></span>
                        </div>
                    </div>

                    <div class="row" style="width: 100%; margin-top: 30px; height: 80px;">
                        <div class="col-4" style="  width: 20%; float: left;">
                            <img src="images/medical_strider_cour_Jptfo-300x185.jpg" alt="" style="
    width: 80px;
    height: 49px;
">
                        </div>
                        <div class="col-8" style="width:70%; float: left; padding: 0%;">
                            <a style="display: inline; color: #ffffff; font-size: 21px; font-weight: 400; font-family: lato-r;"
                            href="https://edusquare.co.in/courses/medical-strider-course/">Class XI (Strider)</a><br><span class="entry-date"
                                style="color: #ffffff; font-size: 11px;"></span>
                        </div>
                    </div>
                </div>




                <!-- <div class="col-2" style="height: 350px;">
      
            </div> -->
                <div class="col-3" style="/* padding: 0; */height: 350px;margin-top: 43px;text-align: center;">
                    <h6 class="mt-4"
                        style="color:#ffffff;text-align: center;margin-bottom: 5px;letter-spacing: 2px;font-size: 21px;font-family: lato-r;">
                        Quick Links</h6>
                        <hr style="margin-top: 5PX;border-bottom: 3px solid #575a5c !IMPORTANT;">


                    <div class="menu-footer1-container">
                        <ul id="menu-footer1" class="menu" style="padding: 0;margin: 0 auto;width: 50%;text-align: initial;margin-top: 30px;">
                            <li id="menu-item-697"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-697" style="text-align: inherit;">
                                <a style="color: #fff;" href="https://edusquare.co.in/north-indias-largest-exam/">ETSE</a></li>
                            <li id="menu-item-698"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-698"><a style="color: #fff;"
                                    href="https://edusquare.co.in/result/">Results</a></li>
                            <li id="menu-item-699"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-699"><a style="color: #fff;"
                                    href="https://edusquare.co.in/jeeadvance-2019/">JEE Advance 2019</a></li>
                            <li id="menu-item-700"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-700"><a style="color: #fff;"
                                    href="https://edusquare.co.in/neet-2019/">NEET 2019</a></li>
                            <li id="menu-item-899"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-899"><a style="color: #fff;"
                                    href="#">Terms of Use</a></li>
                            <li id="menu-item-705"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-705"><a style="color: #fff;"
                                    href="#">Privacy Policy</a></li>
                            <li id="menu-item-900"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-900"><a style="color: #fff;"
                                    href="https://edusquare.co.in/contact/">Contact Us</a></li>
                        </ul>
                    </div>

                </div>

                <div class="col-3" style="height: 350px;text-align: center;margin-top: 43px;">
                    <h6 class="mt-4"
                        style="color:#ffffff;text-align: center;margin-bottom: 5px;letter-spacing: 2px;font-size: 19px;font-family: lato-r;">
                        Contact Us</h6>
                        <hr style="margin-top: 5PX;border-bottom: 3px solid #575a5c !IMPORTANT;">

                    <div class="container" style="
    margin-top: 30px;
">
                        <p style="color: #b1b1b1;font-size: 14px;margin-top: 30px;/* font-family: lato-r; */"
                            class="mb-4">Your queries are always welcome to us! Join us anytime you want an answer to any of your questions. We are, your all time approachable people.</p>


                    </div>
                </div>
            </div>
        </div>
        <div style="background-color: #1C2025; height: 50px;" class="container-fluid">
            <div class="row">
                <div class="col-1">

                </div>
                <div style="text-align: center; height: 50px;" class="col-4">
                    <p style="margin-top: 13px;"> <a style="color: white; font-size: 12px; font-stretch: normal; font-family: lato-r;" href="https://www.quadbtech.com">Edusquare| © 2019 All rights reserved. Developed by QuadB Tech</a>

                </div>
                <div style=" height: 50px;" class="col-1">

                </div>
                <div style=" height: 50px;display: flex;
                text-align: center;" class="col-6">
                    <div style="margin: 13px 0px; font-size: 12px;font-family: lato-r;">
                        <a class="bottom_nav"  href="https://edusquare.co.in/">Home</a>
                        <div class="vl"></div>
                        <a class="bottom_nav" href="https://edusquare.co.in/about-us/">About Me</a>
                        <div class="vl"></div>
                        <a class="bottom_nav" href="https://edusquare.co.in/result/">Results</a>
                        <div class="vl"></div>
                        <a class="bottom_nav"href="https://edusquare.co.in/north-indias-largest-exam/">ETSE</a>
                        <div class="vl"></div>
                        <a class="bottom_nav" href="https://edusquare.co.in/contact/">CONTACT US</a>
                    </div>


                </div>

            </div>
        </div>


    </div>

</body>