    <div class="d-lg-none">
        <nav class="navbar navbar-expand-lg navbar-dark  " id="header" style="width: 100%;padding: 8px 0px;    z-index: 1;">
            <a class="navbar-brand" href="#"><img width="72%" src="images/sdfsfs-min-e1583267659532.png" alt=""></a>
            <button style="margin-right: 10px;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <hr style="width: 30px;height: 2px;background-color: #444e54;border-radius: 100px;margin: 0px; margin-top: 5px !important;">
    <hr style="width: 30px;height: 2px;background-color: #444e54;border-radius: 100px;margin-top: 5px;margin-bottom: 0px;border-radius: 100px;margin-left: 0px;">
    <hr style="width: 30px;height: 2px;background-color: #444e54;border-radius: 100px;margin-top: 5px;margin-bottom: 5px;border-radius: 100px;margin-left: 0px;">
                <!-- <span class="navbar-toggler-icon"></span> -->
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" style="margin-top: 12px;">
                        <a id="selectedlink1" class="nav-link"href="https://edusquare.co.in/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a id="selectedlink2" class="nav-link" href="https://edusquare.co.in/about-us/">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://edusquare.co.in/course-category/medical/">COURSES</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://edusquare.co.in/edusquare-in-news/">STUDENT AREA</a>

                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://edusquare.co.in/edusquare-in-news/">Edusquare In News</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://rzp.io/l/wZbzaAK">Pay Installment</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://edusquare.co.in/result/">RESULTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://edusquare.co.in/north-indias-largest-exam/">ETSE</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="https://edusquare.co.in/contact/">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
                document.getElementById("header").style.height = "66px";
            } else {
                document.getElementById("header").style.height = "92px";
            }
        }
    </script>


